:root {
  --text__color: #667085;
  --accent-color: #8e2424;
  --title-color: #000;
  --image-one: url("/img/logo.png");
  --image-two: url("/img/talents.png");
  --image-three: url("/img/avatar.png");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  color: var(--text__color);
}

.navbar {
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  width: 95%;
  height: 44px;
  padding: 0 32px;
}

.logo-img {
  background-image: var(--image-one);
  background-repeat: no-repeat;
  width: 148px;
  height: 27px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

a {
  text-decoration: none;
  display: flex;
  align-items: center;
}

.nav-menu,
.nav-actions {
  display: flex;
  align-items: center;
  gap: 40px;
}

.nav-menu {
  flex-grow: 2;
  padding-left: 100px;
  justify-content: flex-start;
}

.nav-actions {
  padding-right: 50px;
  justify-content: flex-start;
  text-align: center;
}

.btn-register {
  position: relative;
  display: inline-block;
  color: #fff;
  width: 65px;
  height: 25px;
  font-size: 16px;
  line-height: 25px;
}

.btn-register::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--accent-color);
  border-radius: 5px;
  border: 1px;
  transform: scale(1.8);
  z-index: -1;
  left: 6px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1440px;
  height: 407px;
  padding: 96px;
  gap: 24px;
  opacity: 1;
  flex-direction: column;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
}

.about-us {
  color: var(--accent-color);
  width: 78px;
  height: 24px;
  font-size: 15px;
}

.highlights {
  width: 652px;
  height: 60px;
  padding: 0px 32px;
  gap: 12px;
  color: var(--title-color);
  font-size: 48px;
  margin: 0 auto;
  white-space: nowrap;
}

.header-text {
  width: 792px;
  height: auto;
  font-weight: 400;
  line-height: 30px;
  font-size: 20px;
}

.metrics {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1216px;
  height: 192px;
  padding: 0px 32px;
  gap: 64px;
  margin: 0 auto;
}

.metric-item {
  display: inline;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex: 1;
  max-width: 288px;
  height: 100%;
}

.metric-item h1 {
  color: var(--accent-color);
  font-weight: 600;
  font-size: 60px;
  line-height: 72px;
  margin-bottom: 10px;
  display: inline-block;
  
}

.metric-item h4 {
  color: var(--title-color);
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  margin-bottom: 8px;
}

.metric-item p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--text__color);
}

.jobs {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 96px 32px;
  gap: 64px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.jobs-header {
  text-align: center;
  margin-bottom: 32px;
}

.accent-text {
  font-size: 14px;
  line-height: 20px;
  font-weight: bold;
  color: var(--accent-color);
  background-color: #c3191908;
  padding: 5px 10px;
  border-radius: 16px;
  display: inline-block;
}

.jobs-header h2 {
  font-size: 36px;
  color: var(--title-color);
  margin: 16px 0;
}

.accent-text p {
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
}

.jobs-img {
  background-image: var(--image-two);
  background-size: cover;
  background-position: center;
  width: 100%;
  max-width: 1216px;
  height: 400px;
  margin-top: 64px;
}

.job-categories {
  display: flex;
  flex-direction: column;
  gap: 32px;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}

.job-category {
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.job-category h3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: var(--title-color);
  margin: 0;
  margin-left: 80px;
}

.job-category h4 {
  color: var(--title-color);
  font-weight: normal;
}

.job {
  gap: 32px;
  width: 100%;
  max-width: 768px;
  border: 1px solid #e0e0e0;
  border-radius: 18px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding: 16px;
  margin-bottom: 20px;
}

.job span {
  display: inline;
  margin-inline: 10px;
}

.review {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1440px;
  gap: 24px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 70px;
}

.review-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
  gap: 32px;
  background-color: #c3191908;
  border-radius: 10px;
  width: 100%;
  max-width: 1216px;
}

.review-title {
  color: var(--accent-color);
  font-size: 18px;
  margin: 0 auto;
  padding: 16px;
}

.review-text p {
  color: var(--title-color);
  font-size: 20px;
  font-weight: 500;
  line-height: 28px;
  max-width: 600px;
  margin: 0 auto;
}

.review-img {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  background: var(--image-three) center/cover no-repeat;
  margin: 32px auto 0;
}

.review-text h3,
.review-text h5 {
  font-weight: normal;
  font-size: 16px;
  text-align: center;
}

.review-text h5 {
  color: var(--text__color);
  font-size: 15px;
  margin-top: 8px;
}

.form {
  width: 100%;
  padding: 10px;
  height: 430px;
  gap: 8px;
  flex-direction: column;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  background-color: #f9fafb;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-top: 96px;
}

.form h1 {
  font-size: 36px;
  line-height: 44px;
  text-align: center;
  color: var(--title-color);
  margin-bottom: 32px;
}

.form h2 {
  font-size: 20px;
  font-weight: normal;
  padding-top: 16px;
}

.form-input {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 32px;
}

input[type="email"] {
  padding: 10px;
  font-size: 16px;
  width: 100%;
  height: 40px;
  max-width: 280px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

input[type="email"]::placeholder {
  color: var(--text__color);
  font-size: 16px;
  font-weight: 400;
}

.input-btn {
  color: #ffffff;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  background-color: var(--accent-color);
  border-radius: 5px;
  border: 1px solid transparent;
  height: 40px;
  padding: 8px 16px;
  cursor: pointer;
}

.footer-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  margin-top: 16px;
}
